@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.header-logo {
  height: 60px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin-top: 40px;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 69px;
  display: block;
  margin: 0;
}

.header__title {
  font-family: "Rubik", sans-serif;
  line-height: 28px;
  font-weight: normal;
  padding-right: 69px;
  font-size: 24px;
  margin: auto auto;
}

@media screen and (max-width: 991px) {
  .header__logo {
    margin-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 5%;
  }
}

@media screen and (max-width: 479px) {
  .header {
    height: 80px;
  }
  .header__logo {
    margin: auto auto;
  }
  .header__title {
    font-size: 20px;
    margin-left: 10px;
    padding-right: 0;
  }
}

.filter-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  padding: 2%;
}

.filter {
  margin-top: 30px;
}

.filter-input {
  min-width: 60px;
  outline: none;
  padding: 2px 10px;
}

.filter-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.filter__sum-input {
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  width: 20%;
}

.filter__block {
  text-align: center;
  height: 60%;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__button:hover {
  background-color: #ee7709;
}

.filter__button {
  outline: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 70%;
  height: 32px;
  color: #fff;
  border: none;
  border-radius: 60px;
  background-color: #FF9934;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.slider {
  margin-top: 15px;
  width: 70%;
  height: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.slider-sum {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #FF9934), color-stop(30%, #E8E8E8));
  background: linear-gradient(90deg, #FF9934 30%, #E8E8E8 30%);
}

.slider-term {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #FF9934), color-stop(15%, #E8E8E8));
  background: linear-gradient(90deg, #FF9934 15%, #E8E8E8 15%);
}

.slider::-webkit-slider-runnable-track {
  height: 1px;
}

.slider::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: #FF9934;
  -webkit-box-shadow: 0 0 15px #FF9934;
          box-shadow: 0 0 15px #FF9934;
}

.slider::-ms-thumb {
  height: 10px;
  width: 10px;
  background-color: #ff9934;
}

.slider::-moz-range-thumb {
  height: 10px;
  width: 10px;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: #ff9934;
  box-shadow: 0 0 15px #FF9934;
}

@media screen and (max-width: 991px) {
  .filter-container {
    height: auto;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter__block {
    width: 70%;
    margin: 20px;
  }
  .filter__button {
    width: 40%;
  }
}

@media screen and (max-width: 479px) {
  .filter__button {
    width: 80%;
  }
}

.content {
  margin-top: 50px;
}

.icon {
  width: 14px;
  margin-right: 5px;
}

.payment-options {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
  min-height: 20%;
}

.payment-options strong {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: bold;
  display: block;
}

.conditions-p {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 15px;
}

.card {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  height: 380px;
  width: 220px;
  border-radius: 30px;
  border: 1px solid #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-icon {
  width: 15px;
  height: 15px;
  display: block;
}

.card__inner {
  margin-bottom: 0;
  height: 283px;
  border-radius: 30px;
  border-top: 1px solid #E8E8E8;
}

.card__inner-conditions {
  margin-top: 3%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 10px;
}

.card__inner-link {
  margin: 5% auto;
  padding: 10px;
  text-align: center;
  width: 121px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #FF9934;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card__inner-link:hover {
  background-color: #ee7709;
}

.card__inner-percent {
  width: 89px;
  height: 89px;
  border: 3px solid #505050;
  -webkit-box-shadow: 0 0 20px rgba(255, 153, 52, 0.15);
          box-shadow: 0 0 20px rgba(255, 153, 52, 0.15);
  border-radius: 50%;
  margin: 10px auto;
}

.card__title {
  max-height: 20%;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.card__title img {
  max-width: 100%;
  max-height: 90%;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.circle-shadow {
  width: 89px;
  position: absolute;
  height: 89px;
  margin-left: -11px;
  margin-top: -97px;
  z-index: -1;
  border: none;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  opacity: 0.2;
  border-top: 12px solid #000;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
  border-radius: 50%;
}

.circle-wrap {
  width: 89px;
  height: 89px;
  margin-left: -12px;
  margin-top: -8px;
  border: none;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  border-top: 12px solid #FF9934;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
  border-radius: 50%;
}

.circle-text {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: -66px !important;
}

.circle-text {
  line-height: 0;
  font-size: 11px;
  margin-top: -40px;
  text-align: center;
}

.circle-text strong {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .card-container {
    width: 80%;
    margin: auto;
  }
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.footer-container {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 20px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.footer-rights {
  background-color: #383838;
  height: 82px;
  margin-top: 50px;
}

.rights-text {
  padding-top: 20px;
  text-transform: capitalize;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 14px;
  font-size: 12px;
}

.rights-text-p {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */