
.container
  width: 70%
  margin: 0 auto

//@media screen and (max-width: 1200px)

@media screen and (max-width: 991px)
  .container
    width: 85%
    margin: 0 auto
  
//@media screen and (max-width: 767px)

@media screen and (max-width: 479px)
  .container
    width: 90%
    margin: 0 auto