.content
  margin-top: 50px

.icon
  width: 14px
  margin-right: 5px

.payment-options
  width: 90%
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  text-align: center
  min-height: 20%
  & strong
    margin: 0
    padding: 0
    line-height: 16px
    font-family: "Roboto"
    font-weight: bold
    display: block

.conditions-p
  text-align: center
  font-size: 12px
  line-height: 14px
  padding: 0
  margin: 0
  font-family: "Roboto", sans-serif
  line-height: 15px
.card
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
  margin: 20px auto
  height: 380px
  width: 220px
  border-radius: 30px
  border: 1px solid #E8E8E8
  display: flex
  flex-direction: column
  justify-content: space-between
  &-icon
    width: 15px
    height: 15px
    display: block
  &__inner
    margin-bottom: 0
    height: 283px
    border-radius: 30px
    border-top: 1px solid #E8E8E8
    &-conditions
      margin-top: 3%
      margin-bottom: 3%
      display: flex
      flex-direction: column
      align-items: start
      margin-left: 10px
  
    &-link
      margin: 5% auto
      padding: 10px
      text-align: center
      width: 121px
      display: block
      text-decoration: none
      color: #fff
      font-family: "Roboto", sans-serif
      font-size: 14px
      background-color: $primary
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
      border-radius: 60px
      transition: all 0.5s ease
      &:hover
        background-color: #ee7709
    &-percent
      width: 89px
      height: 89px
      border: 3px solid #505050
      box-shadow: 0 0 20px rgba(255, 153, 52, 0.15)
      border-radius: 50%
      margin: 10px auto
  &__title
    max-height: 20%
    margin-top: 10px
    display: block
    text-align: center
    img
      max-width: 100%
      max-height: 90%
  &-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: start

.circle
  &-shadow
    width: 89px
    position: absolute
    height: 89px
    margin-left: -11px
    margin-top: -97px
    z-index: -1
    border: none
    border-left: 12px solid rgba(0, 0, 0, 0)
    border-right: 12px solid rgba(0, 0, 0, 0)
    opacity: 0.2
    border-top: 12px solid #000
    transform: rotate(-145deg)
    border-radius: 50%
  &-wrap
    width: 89px
    height: 89px
    margin-left: -12px
    margin-top: -8px
    border: none
    border-left: 12px solid rgba(0, 0, 0, 0)
    border-right: 12px solid rgba(0, 0, 0, 0)
    border-top: 12px solid $primary
    transform: rotate(-145deg)
    border-radius: 50%
    
  &-text
    font-weight: 300
    font-family: "Roboto", sans-serif
    font-style: normal
    margin-top: -66px !important
.circle-text
  line-height: 0
  font-size: 11px
  margin-top: -40px
  text-align: center
  & strong
    font-size: 20px
    font-weight: bold

@media screen and (max-width: 991px)
  .card-container
    width: 80%
    margin: auto
