
.filter-container
  align-items: center
  height: 150px
  display: flex
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
  justify-content: space-around
  border: 1px solid #f6f6f6
  border-radius: 30px
  padding: 2%
.filter
  &-input
    min-width: 60px
    outline: none
    padding: 2px 10px
  &-text
    font-family: "Roboto", sans-serif
    font-size: 18px
    line-height: 21px
  &__sum-input
    border: 1px solid #E8E8E8
    border-radius: 30px
    width: 20%
  margin-top: 30px
  &__block
    text-align: center
    //border: 1px solid grey
    height: 60%
    width: 33%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
  &__button:hover
    background-color: #ee7709
  &__button
    outline: none
    transition: all 0.5s ease-out
    width: 70%
    height: 32px
    color: #fff
    border: none
    border-radius: 60px
    background-color: $primary
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
    font-family: "Roboto", sans-serif
    font-weight: bold
    font-size: 14px

.slider
  margin-top: 15px
  width: 70%
  height: 1px
  appearance: none
  outline: none
  &-sum
    height: 1px
    background: linear-gradient(90deg, $primary 30%, #E8E8E8 30%)
  &-term
    background: linear-gradient(90deg, $primary 15%, #E8E8E8 15%)

// Chrome slider
.slider::-webkit-slider-runnable-track
  height: 1px

.slider::-webkit-slider-thumb
  height: 10px
  width: 10px
  cursor: pointer
  margin-top: -4px
  border-radius: 50%
  -webkit-appearance: none
  background-color: $primary
  box-shadow: 0 0 15px $primary

.slider::-ms-thumb
  height: 10px
  width: 10px
  background-color: #ff9934
// FireFox slider
.slider::-moz-range-thumb
  height: 10px
  width: 10px
  cursor: pointer
  margin-top: -4px
  border-radius: 50%
  -webkit-appearance: none
  background-color: #ff9934
  box-shadow: 0 0 15px #FF9934

@media screen and (max-width: 991px)
  .filter
    &-container
      height: auto
      padding: 20px
      flex-direction: column
    &__block
      width: 70%
      margin: 20px
    &__button
      width: 40%

@media screen and (max-width: 479px)
  .filter
    &__button
      width: 80%