.footer
  margin-top: 50px
  margin-bottom: 20px
.subtitle
  font-family: "Roboto", sans-serif
  font-weight: bold
  
.footer-container
  font-family: "Roboto", sans-serif
  font-size: 12px
  line-height: 14px
  padding: 20px 20px
  border: 1px solid #E8E8E8
  border-radius: 30px
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)