.footer-rights
  background-color: #383838
  height: 82px
  margin-top: 50px

.rights-text
  padding-top: 20px
  text-transform: capitalize
  color: white
  font-family: "Roboto", sans-serif
  line-height: 14px
  font-size: 12px
  &-p
    padding: 0
    margin: 0
