.header-logo
  height: 60px

.header-container
  display: flex

.header
  margin-top: 40px
  height: 69px
  display: flex
  &__logo
    width: 69px
    display: block
    margin: 0
  &__title
    font-family: "Rubik", sans-serif
    line-height: 28px
    font-weight: normal
    padding-right: 69px
    font-size: 24px
    margin: auto auto

@media screen and (max-width: 991px)
  .header
    &__logo
      margin-right: 10%  
@media screen and (max-width: 767px)
  .header
    &__title
    &__logo
      margin-right: 5%

@media screen and (max-width: 479px)
  .header
    &__logo
      margin: auto auto
    &__title
      font-size: 20px
      margin-left: 10px
      padding-right: 0
    height: 80px